<h3>HI !</h3>
<p>Bienvenu, vous pouvez choisir un Album dans le menu ---&gt;</p><br /><br />
Et si vous avez loup&eacute le debut de nos aventures aux States, voici le lien du blog qui nous a suivi durant les premiers mois.<br /> <br />
<a href="http://somino.free.fr/dotclear/index.php">http://somino.free.fr/dotclear/index.php</a>

<h3>Bon surf...</h3>

