<h3>HI !</h3>
<p>Bienvenu, vous pouvez choisir un Album dans le menu ---&gt;</p>Et si vous avez loupé le début de nos aventures aux States, voici le lien du blog qui nous a suivi durant les premiers mois.<br><br><a href="http://somino.free.fr/dotclear/index.php">http://somino.free.fr/dotclear/index.php</a><br><br>Et si vous rencontrez des problèmes ou avez des commentaires, vous pouvez nous contacter par mail : 

<h3>Bon surf...</h3>

